<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<div class="players">
  <mat-form-field >
    <input matInput placeholder="player 1" [(ngModel)]="player1">
  </mat-form-field>

  <mat-form-field >
    <input matInput placeholder="player 2" [(ngModel)]="player2">
  </mat-form-field>
</div>

<div class="start">
  <button mat-raised-button color="primary">Start</button>
</div>

<mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
        <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
            <mat-icon>{{'favorite'}}</mat-icon>
          </button>
      </mat-grid-tile>
    <mat-grid-tile>
        <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
            <mat-icon>{{'clear'}}</mat-icon>
          </button>

    </mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
    <mat-grid-tile>6</mat-grid-tile>
    <mat-grid-tile>7</mat-grid-tile>
    <mat-grid-tile>8</mat-grid-tile>
    <mat-grid-tile>9</mat-grid-tile>
  </mat-grid-list>


<router-outlet></router-outlet>
