<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<div class="players">
  <div>
      <mat-icon [ngClass]="{'selected': currentPlayer===player1}">{{player1.icon}}</mat-icon>
      <mat-form-field>
        <input matInput placeholder="player 1" [(ngModel)]="player1.name">
      </mat-form-field>
  </div>

  <button mat-raised-button color="primary" (click)="onStart()">Start</button>

  <div>
      <mat-icon [ngClass]="{'selected': currentPlayer===player2}">{{player2.icon}}</mat-icon>
      <mat-form-field >
        <input matInput placeholder="player 2" [(ngModel)]="player2.name">
      </mat-form-field>
  </div>

</div>

<h1 class="status-line">{{getStatus()}}</h1>

<mat-grid-list cols="3" rowHeight="1:1" gutterSize="3px" *ngIf="boxes.length">

    <mat-grid-tile *ngFor="let box of boxes">
        <button mat-icon-button color="primary" aria-label="" (click)="onHit(box)" [disabled]="box.player">
            <mat-icon>{{box?.player?.icon}}</mat-icon>
        </button>
      </mat-grid-tile>
  </mat-grid-list>


<router-outlet></router-outlet>
